/*html, body, .tab-pane, .tab-content, .container-fluid, #compareData {
	height: 100%;
	max-height: 100%;
}

html, body {
	overflow: hidden;
}

#compareData .col-xs-2, #compareData .col-md-10 {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	height: 100%;
}*/

body {
	padding-top: 70px;
}

a.btn {
	color: #777;
}

.fa-salesforce::before {
    content: "\f0c2"
}

.dropdown-menu > li > span {
	padding: 3px 20px;
	display: block;
}

#code, .diffContent {
	overflow: auto;
}

#code table, #compareData table, #compareBranchData table {
	margin-bottom: 0;
	/*width: 100%;
	overflow: auto;*/
}

#code table td, #compareData table td, #compareBranchData table td {
	border-top: none;
	padding: 0px;
}

#code table td.num, #compareData table td.num, #compareBranchData table td.num {
	border: solid #eee;
	border-width: 0 1 0 0;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	width: 1%;
	min-width: 20px;
}

#code table td.code, #compareData table td.line, #compareBranchData table td.line {
	padding-right: 10px;
	padding-left: 10px;
	word-wrap: normal;
	white-space: pre;
}

#compareData table tr.header, #compareBranchData table tr.header {
	background-color: #edf2f9;
}

#compareData table tr.header td.num, #compareBranchData table tr.header td.num {
	border-color: #d2dff0;
}

#code table tr.notcovered, #compareData table tr.removed, #compareBranchData table tr.removed {
	background-color: #ffdddd;
}

#code table tr.notcovered td.num, #compareData table tr.removed td.num, #compareBranchData table tr.removed td.num {
	border-color: #f1c0c0;
}

#compareData table tr.added, #compareBranchData table tr.added {
	background-color: #dbffdb;
}

#compareData table tr.added td.num, #compareBranchData table tr.added td.num {
	border-color: #c1e9c1;
}

.xml_plain {
	color: rgb(0, 0, 0);
}
.xml_char_data {
	color: rgb(0, 129, 127);
}
.xml_tag_symbols {
	color: rgb(60, 127, 127);
}
.xml_comment {
	color: rgb(61, 93, 188);
	/*background-color: rgb(247,247,247);*/
}
.xml_attribute_value {
	color: rgb(42, 0, 251);
	font-style: italic;
}
.xml_attribute_name {
	color: rgb(129, 0, 125);
	/*font-weight: bold;*/
}
.xml_processing_instruction {
	color: rgb(0, 0, 0);
	/*font-weight: bold;
	font-style: italic;*/
}
.xml_tag_name {
	color: rgb(60, 127, 127);
}
.xml_rife_tag {
	color: rgb(0,0,0);
	background-color: rgb(228,230,160);
}		
.xml_rife_name {
	color: rgb(0,0,196);
	background-color: rgb(228,230,160);
}

.apex_plain {
	color: rgb(0, 0, 0);	
}			
.apex_keyword {
	color: rgb(129, 0, 83);	
	/*font-weight: bold;*/	
}			
.apex_type {
	color: rgb(0, 0, 0);	
}			
.apex_operator {
	color: rgb(0, 0, 0);	
}			
.apex_separator {
	color: rgb(0, 0, 0);	
}			
.apex_literal {
	color: rgb(42, 0, 251);	
}			
.apex_comment {
	color: rgb(61, 127, 96);
	/*background-color: rgb(247,247,247);*/	
}			
.apex_apexdoc_comment {
	color: rgb(61, 127, 96);
	/*background-color: rgb(247,247,247);	
	font-style: italic;*/	
}			
.apex_apexdoc_tag {
	color: rgb(61, 93, 188);	
	/*background-color: rgb(247,247,247);	
	font-style: italic;*/	
	font-weight: bold;
}
